<%# LEFT SIDEBAR %>
<div class="container">
    <div class="row">

        <% if @book_new.errors.any? %>
            <div id="error_explanation" style="color: red">
                <h3><%= @book_new.errors.count%> errors prohibited this obj from being saved:</h3>
                <ul>
                    <% @book_new.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="col-xs-3">
        
            <h2>User info</h2>
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %>
            <table class="table">
                <tbody>
                    <tr></tr>
                    <tr>
                        <th>name</th>
                        <th><%= current_user.name %></th>
                    </tr>
                    <tr>
                        <th>introduction</th>
                        <th><%= current_user.introduction %></th>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <%= link_to "", edit_user_path(current_user) ,class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_20819" %>
            </div>


            <h2>New Book</h2>
                <%= form_for @book_new do |f| %>
                    <div class="field row">    
                        <label>Title</label><br>
                        <%= f.text_field :title, class:"col-xs-12" %>
                    </div>
                    <br>
                    <div class="field row">    
                        <label>Opinion</label><br>
                        <%= f.text_area :body, class:"col-xs-12" %>
                    </div>
                    <br>
                    <div class="actions row">
                        <%= f.submit class:"btn btn-primary col-xs-12" %>
                    </div>
                <% end %>
        </div>

<%# RIGHT MAINCONTENTS %>
        <div class="col-xs-9">
            <h2>Books</h2>
            <table class="table table-hover table-inverse">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Opinion</th>
                    </tr>
                </thead>
                <tbody>
                    <% @books.each do |book| %>
                        <tr>
                            <td>
                                <%= link_to user_path(book.user_id) do %>
                                    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image-icon.jpg" %>
                                <% end %>
                            </td>
                            <td>
                                <%= link_to book_path(book.id) do %>
                                    <%= book.title %>
                                <% end %>
                            </td>
                            <td><%= book.body %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

    </div>
</div>